<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <h1 class="text-uppercase text-center mb-5">ERROR</h1>
            <div class="card" style="border-radius: 15px;">
                Something bad happened...<br>
                It happened...<br>
                And it was bad.
            </div>
        </div>
    </div>
</div>