<section class="w-100">
    <div class="container">
        <h1>NextBestNetwork I.D.</h1>
        <p>A closed circuit OpenID provider, providing unified login for Spectrum Next online services.</p>
        <p>NextBestNetwork offers seamless integration, robust security, and user-friendly experiences for developers and users alike.</p>
    {{^user}}
        <a href="/register" class="btn btn-primary">Get Started</a>
        <a href="/login" class="btn btn-secondary">Login</a>
    {{/user}}
    </div>
</section>