<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                    <form method="POST" action="/register" class="form-register">
                        {{#reg_form.errors.display_name}}
                            <div class="invalid-feedback">
                                {{{reg_form.errors.display_name}}}
                            </div>
                        {{/reg_form.errors.display_name}}
                        <div data-mdb-input-init="" class="form-outline mb-4">
                            <input type="text" name="display_name" id="display_name" class="form-control form-control-lg" value="{{reg_form.display_name}}">
                            <label class="form-label" for="display_name">Your Name</label>
                        </div>

                        {{#reg_form.errors.email}}
                            <div class="invalid-feedback">
                                {{{reg_form.errors.email}}}
                            </div>
                        {{/reg_form.errors.email}}
                        <div data-mdb-input-init="" class="form-outline mb-4">
                            <input type="email" id="email" name="email" class="form-control form-control-lg" value="{{reg_form.email}}">
                            <label class="form-label" for="email">Your Email</label>
                        </div>

                        {{#reg_form.errors.password_1}}
                            <div class="invalid-feedback">
                                {{{reg_form.errors.password_1}}}
                            </div>
                        {{/reg_form.errors.password_1}}
                        <div data-mdb-input-init="" class="form-outline mb-4">
                            <input type="password" id="password_1" name="password_1" class="form-control form-control-lg" value="{{reg_form.password_1}}">
                            <label class="form-label" for="password_1">Password</label>
                        </div>

                        {{#reg_form.errors.password_2}}
                            <div class="invalid-feedback">
                                {{{reg_form.errors.password_2}}}
                            </div>
                        {{/reg_form.errors.password_2}}
                        <div data-mdb-input-init="" class="form-outline mb-4">
                            <input type="password" id="password_2" name="password_2" class="form-control form-control-lg" value="{{reg_form.password_2}}">
                            <label class="form-label" for="password_2">Repeat your password</label>
                        </div>

                        {{#reg_form.errors.agree_tos}}
                            <div class="invalid-feedback">
                                {{{reg_form.errors.agree_tos}}}
                            </div>
                        {{/reg_form.errors.agree_tos}}
                        <div class="form-check d-flex justify-content-center mb-5">
                            <input class="form-check-input me-2" type="checkbox" id="agree_tos" name="agree_tos" {{#reg_form.agree_tos}}checked{{/reg_form.agree_tos}}>
                            <label class="form-check-label" for="agree_tos">
                                I agree all statements in <a href="#" data-bs-toggle="modal" data-bs-target="#popupModal">Terms of service</a>.
                            </label>
                        </div>

                        <div class="form-check d-flex justify-content-center mb-5">
                            <input class="form-check-input me-2" type="checkbox" id="confirm_spammer" name="confirm_spammer" {{#reg_form.confirm_spammer}}checked{{/reg_form.confirm_spammer}}>
                            <label class="form-check-label" for="confirm_spammer">
                                I confirm that I am a spammer.
                            </label>
                        </div>

                        <div class="d-flex justify-content-center">
                            <input type="submit" label="Register" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                        </div>

                        <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupModalLabel">Terms of Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="popupModalBody">
                <p>NextBestNetwork I.D. ("Service"). These Terms of Service ("Terms") govern the use of our OpenID Connect services, including but not limited to authentication and authorization features. By accessing or using any part of the Service, you agree to be bound by these Terms. If you do not agree with all of the terms stated herein, you are prohibited from using the Service.</p>

                <h3>1. Use of the Service</h3>
                <p>You may use the Service only for lawful purposes and in a manner consistent with our policies. You agree not to:</p>
                <ul>
                    <li>Use the Service in any way that violates any applicable law or regulation.</li>
                    <li>Use the Service to transmit, distribute, store, or produce any material that is false, misleading, defamatory, libelous, threatening, harassing, abusive, tortious, pornographic, obscene, profane, inflammatory, or otherwise objectionable.</li>
                    <li>Use the Service to impersonate any person or entity, including but not limited to, any employee of NextBestNetwork I.D..</li>
                    <li>Use the Service for any commercial purpose without our prior written consent.</li>
                </ul>

                <h3>2. Intellectual Property</h3>
                <p>All content and materials available on the Service are the property of NextBestNetwork I.D. or its licensors and are protected by copyright, trademark, and other laws. You may not reproduce, distribute, modify, create derivative works from, publicly display, perform, transmit, or sell any such content or materials without our prior written consent.</p>

                <h3>3. Privacy</h3>
                <p>We respect your privacy and handle your personal information in accordance with our Privacy Policy. By using the Service, you agree to the collection, use, and sharing of your information as described in our Privacy Policy.</p>

                <h3>4. Termination</h3>
                <p>We may terminate or suspend access to the Service at any time, without prior notice, for any reason, including if you violate these Terms. Upon termination, your right to use the Service will immediately cease.</p>

                <h3>5. Disclaimer of Warranties</h3>
                <p>The Service is provided "as is" and "as available" without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose, and non-infringement. We do not warrant that the Service will be uninterrupted, error-free, or secure.</p>

                <h3>6. Limitation of Liability</h3>
                <p>In no event shall NextBestNetwork I.D., its officers, directors, employees, agents, affiliates, or content providers be liable for any direct, indirect, incidental, special, consequential, exemplary, or punitive damages, including but not limited to, loss of profits, data, use, goodwill, or other intangible losses, arising out of or related to the use of or inability to use the Service, even if advised of the possibility of such damages.</p>

                <h3>7. Indemnification</h3>
                <p>You agree to indemnify and hold harmless NextBestNetwork I.D., its officers, directors, employees, agents, affiliates, and content providers from any claims, losses, liabilities, costs, or expenses, including reasonable attorneys' fees, arising out of or related to your use of the Service.</p>

                <h3>8. Governing Law</h3>
                <p>These Terms shall be governed by and construed in accordance with the laws of [Insert Jurisdiction], without regard to its conflict of law principles.</p>

                <h3>9. Entire Agreement</h3>
                <p>These Terms constitute the entire agreement between you and NextBestNetwork I.D. regarding the use of the Service, superseding all prior agreements and understandings, whether written or oral.</p>

                <h3>10. Changes to Terms</h3>
                <p>We reserve the right to modify these Terms at any time without notice. Your continued use of the Service after any such changes constitutes your acceptance of the revised Terms.</p>

                <p>If you have any questions about these Terms, please contact us at [Insert Contact Information].</p>

                <p>By using our OpenID Connect services, you agree to be bound by these Terms of Service.</p>
                <h7>

                    <p><strong>Effective Date:</strong> 1st January, 2025</p>
                    <p><strong>Last Updated:</strong> 1st January, 2025</p>
                </h7>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>