<div class="row d-flex justify-content-center align-items-center h-100 w-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">

        <h1 class="text-uppercase justify-content-center mb-5">Reset Password</h1>
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <form method="POST" action="/reset_password?{{query_string}}" class="form-register">
                    <!-- CSRF Protection -->
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <p>
                        Complete the form below to reset your password.
                    </p>
                    {{#reset_form.errors.email}}
                        <div class="invalid-feedback d-block">
                            {{reset_form.errors.email}}
                        </div>
                    {{/reset_form.errors.email}}
                    <div data-mdb-input-init="" class="form-outline mb-4">
                        <input type="email" id="login_email" name="email" class="form-control form-control-lg" value="{{reset_form.email}}" autocomplete="email">
                        <label class="form-label" for="email">Your Email Address</label>
                    </div>

                    {{#reset_form.errors.password_1}}
                        <div class="invalid-feedback d-block">
                            {{reset_form.errors.password_1}}
                        </div>
                    {{/reset_form.errors.password_1}}
                    <div data-mdb-input-init="" class="form-outline mb-4">
                        <input type="password" id="login_password" name="password_1" class="form-control form-control-lg" autocomplete="new-password">
                        <label class="form-label" for="password_1">New Password</label>
                    </div>

                    {{#reset_form.errors.password_2}}
                        <div class="invalid-feedback d-block">
                            {{reset_form.errors.password_2}}
                        </div>
                    {{/reset_form.errors.password_2}}
                    <div data-mdb-input-init="" class="form-outline mb-4">
                        <input type="password" id="login_password_confirm" name="password_2" class="form-control form-control-lg" autocomplete="new-password">
                        <label class="form-label" for="password_2">Repeat your password</label>
                    </div>

                    <input type="hidden" name="confirmation_code" value="{{reset_form.confirmation_code}}">
                    <button class="btn btn-primary w-100 py-2 my-2" type="submit">Confirm Password Change</button>
                    <a class="btn btn-secondary w-100 py-2 my-2" href="/login">Cancel</a>
                </form>
            </div>
        </div>
    </h1>
</div>
